.profile-image {
  ion-avatar {
    margin-left: 10px;
    position: relative;
  }
  ion-icon {
    font-size: 12px;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 0;
    right: 70px;
    display: block;
    background: #397ffd;
    color: white;
    margin: auto;
    padding: 3px;
    border-radius: 50%;
  }
}
ion-spinner{
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 1111;
}
